{{home-button}}
<form {{action 'sendMessage' on='submit'}}>
  {{textarea type='text' value=message placeholder="Message"}}
  {{input type="email" value=fromAddress placeholder="Your Email"}}
  {{input value=fromName placeholder="Your Name"}}
  <button>Send Message</button>
</form>
