<div class="logo tektite">
  <img class='image tektite-logo logo-image' src='Tektite_Logo.png' />
</div>

<address>
  <h1><b>Xavier Bick</b></h1>
  <h2>Tektite Software</h2>
  <h2>Owner &amp; Full-Stack Developer</h2>
  <br>
  <h3>{{email-address prefix="xavier" domain="tektitesoftware.com"}}</h3>
  <h3 class="telephone">M: <a href="tel:636-542-2628">636-542-2628</a></h3>
</address>

<nav>
  <ul class="home-nav">
    {{nav-item target="contact" text="Send Message"}}
    {{nav-item target="profiles" text="Profiles"}}
    {{nav-item target="portfolio" text="Portfolio"}}
    {{nav-item target="open-source" text="Open Source"}}
  </ul>
</nav>
